.entry-container {
    margin: 1em 0.5em 1em 0.5em;
    width:fit-width;
    /* padding: 0.5em 0.5em; */
}


.prompt {
    color: #EF800A;
    margin: 0.5em;
    -webkit-user-select: none;
    user-select: none;
    display:inline-flex;
}


input {
    background-color: transparent;
    padding: 0 0 0 0.5em;
    border: 0;
    font: 1.3rem "Sometype Mono", monospace;
    height: 2em;
    color:white;
    width: 80%;
    display: inline-flex;
    right:0;
    text-shadow: 0 0 5px #C8C8C8;

    border-style: none;
    -webkit-user-select: none;
    user-select: none;
}

.req {
    display: inline;
}

.resp {
    margin: 0;
}

input:focus {
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: none;
}

.info {
    background-color: black;
}

ul {
    margin:0;
}

.whisper-text {
    font-size: 0.5em;
    color: #FFFFFF40;
}

.ls-item-container {
    padding: 0 1em 0 1em;
    display: inline-flex;
}

.directory {
    color:#CBCBCB;
}